* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

#chat{
	position: fixed;
	width: 250px;
	height: 40px;
	bottom: 0;
	right: 20px;
	background: magenta;
	z-index: 1;
	color: white;
	text-align: center;
	line-height: 40px;
	font-family: font-family: 'Roboto', sans-serif;
	font-size: 35px;
	border-radius: 20px 20px 0 0;
	cursor: pointer;
}

header {
  position: relative;
  margin: 20px auto;
  width: 1000px;
  height: 120px;
}

#logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
}

.redes {
  position: absolute;
  width: 42px;
  height: 42px;
  background: #ccc;
  border-radius: 100%;
  text-align: center;
  line-height: 42px;

}

.facebook {
  color: #3b5998;
  font-size: 20px;
  margin-top: 12px;
  cursor: pointer;
}

.instagran {
  color: #d6249f;
  font-size: 20px;
  margin-top: 12px;
  cursor: pointer;
}

.twitter {
  color: #00acee;
  font-size: 20px;
  margin-top: 12px;
  cursor: pointer;
}

li {
  text-align: center;
}

#icono1 {
  top: 42px;
  right: 120px;

}

#icono2 {
  top: 42px;
  right: 71px;
}

#icono3 {
  top: 42px;
  right: 19px;
}

nav {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 48px;
}

.botones {
  float: left;
  width: 196px;
  margin: 0px 20px;
  height: 48px;
  background: rgba(100, 0, 255,1);
  font-family: 'Roboto', sans-serif;
  color: white;
  text-align: center;
  line-height: 48px;
}

a .botones:hover{
	background: rgba(100, 0, 255,.4);
}

a .botones:active{
	background: rgba(255, 0, 100,1);
}
#top {
  position: relative;
  margin: 20px auto;
  width: 1000px;
  height: 192px;
}

#top ul {
  width: 1010px;
  height: 192px;
}

#top ul li {
  float: left;
  width: 326px;
  height: 192px;
  margin-right: 10px;
}

#top ul li img{
	border-radius: 100%;
  width: 140px;
	height: 140px;
}

#top ul li h2{
	font-family: 'Roboto', sans-serif;
}

#top ul li p{
	font-size: 14px;
	width: 90%;
}


section {
  position: relative;
  margin: auto;
  width: 1000px;
  height: 453px;
}

aside#izq {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 453px;
}

aside#izq ul li{
	background: #aaa;
	padding: 10px;
	margin: 2px 10px;
	list-style: square;
	list-style-position: inside;
}

aside#izq ul li a{
	text-decoration: none;
}

article {
  position: absolute;
  margin: 5px 10px;
  left: 200px;
  top: 0;
  width: 600px;
  height: 453px;
}

article img{
	float: left;
	margin-right: 20px;
}

article p{
	margin:20px;
}

article p img{
	float: left;
}

article h1{
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	margin: 20px;
}



aside#der {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 453px;
}

aside#der h1{
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: rgba(100, 0, 255, 1);
	color: white;
	margin-bottom: 5px;
}

aside#der input{
	padding: 10px;
	margin: 5px 0;
	width: 176px;
}

aside#der input[type="text"]{
	background: url(https://cdn.icon-icons.com/icons2/602/PNG/128/Gender_Neutral_User_icon-icons.com_55902.png);
	background-repeat:no-repeat ;
	background-position: right;
	background-size: contain;
}

aside#der input[type="password"]{
	background: url(https://img1.freepng.es/20180218/jgq/kisspng-password-computer-security-scalable-vector-graphic-unlocked-lock-cliparts-5a89c26ac29879.2081123815189776427971.jpg);
	background-repeat:no-repeat ;
	background-position: right;
	background-size: contain;
}

aside#der input[type="email"]{
	background: url(https://img1.freepng.es/20180414/sxq/kisspng-email-message-telephone-text-messaging-email-icon-5ad18303711d16.2234617015236800034633.jpg);
	background-repeat:no-repeat ;
	background-position: right;
	background-size: contain;
}

aside#der input[type="submit"]{
	width: 200px;
	background: rgba(100, 0, 100, .5);
	cursor: pointer;
	border: 0;

}
footer { 
  position: relative;
  margin: 20px auto;
  width: 1000px;
  height: 70px;
  background: rgba(100, 0, 255,1);
  text-align: center;
  line-height: 70px;
  color: white;
}
